/* All Pages */
body{
    background-color: rgb(65, 66, 80);
}


#mouse-eating { /* Gif for front page */
    width: 600px;
    height: auto;
}

.header { /* style for all headers */
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: azure;
}
.sub{ /* style for subtitles */
    font-size: 24px;
}
.par{ /* style for paragraph */
    font-size: 18px;
}
.list{ /* style for anything that has a list */
    display: table;
    margin: 0 auto;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
